language: python

python:
  - "3.5"

sudo: false

env:
    - TOX_ENV=py27-flake8
    - TOX_ENV=py27
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=py35

install:
  - pip install tox

script:
    - tox -e $TOX_ENV
