language: python
cache: pip
os: linux
dist: xenial

jobs:
  include:
    - python: "3.6"
      env: TOXENV=lint
    - python: "3.6"
      env: TOXENV=manifest
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.7"
      env: TOXENV=py37
    - python: "3.8"
      env: TOXENV=py38
    - python: "pypy"
      env: TOXENV=pypy
    - python: "pypy3"
      env: TOXENV=pypy3

install:
  - pip install tox

script:
  - tox

before_install:
  - pip install coveralls

after_success:
  - tox -e coverage-report
  - coveralls

deploy:
  provider: pypi
  username: theskumar
  password:
    secure: DXUkl4YSC2RCltChik1csvQulnVMQQpD/4i4u+6pEyUfBMYP65zFYSNwLh+jt+URyX+MpN/Er20+TZ/F/fu7xkru6/KBqKLugeXihNbwGhbHUIkjZT/0dNSo03uAz6s5fWgqr8EJk9Ll71GexAsBPx2yqsjc2BMgOjwcNly40Co=
  distributions: "sdist bdist_wheel"
  skip_existing: true
  on:
    tags: true
    repo: theskumar/python-dotenv
