include LICENSE *.md *.yml

include tox.ini
recursive-include tests *.py

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include Makefile
include requirements.txt
include src/dotenv/py.typed
