site_name: python-dotenv
repo_url: https://github.com/theskumar/python-dotenv
edit_uri: ""
theme:
  name: material
  palette:
    primary: green
  features:
    - toc.follow
    - navigation.sections

markdown_extensions:
  - mdx_truly_sane_lists

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            separate_signature: true
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
  - search
nav:
  - Home: index.md
  - Changelog: changelog.md
  - Contributing: contributing.md
  - Reference: reference.md
  - License: license.md
