flake8>=2.2.3
pytest>=3.0.5
sh>=1.09
bumpversion
wheel
pytest-cov
click
jedi<0.13; python_version <= '3.3'
ipython<6; python_version <= '2'
ipython<7; python_version <= '3.3'
ipython; python_version > '3.3'
pypandoc
